* {
  margin: 2;
  padding: 2;
  background: gray;
}

nav ul {
  list-style: none;  /* none  = marker gayeb korte*/
  display: flex; /* flex always applies on Parent */
  padding: 13px;
}
nav li {
  padding: 13px;
}


div ul li {
  list-style: bengali;
  /* list-style-type: "emoji"; */
  background-color: pink;
  list-style-position: inside; /*to take the marker inside of background-color*/
  border: 2px solid black;
}

